.container {
  min-height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h1 {
  font-size: 3rem;
}
.container h3 {
  margin-top: 0;
  margin-bottom: 40px;
}

.main {
  max-width: 1400px;
  width: 100%;
  padding: 4rem 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mainContent {
  display: flex;
  flex-direction: row;
}
.contentTexts {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.button {
  background-color: #1db954;
  color: white;
  padding: 15px 20px;
  width: max-content;
  width: -moz-max-content;
  border-radius: 50px;
  font-weight: bold;
}

.privacyText {
  font-size: 13px;
  margin-top: 10px;
}
.privacyText a {
  color: #1db954;
}

.features {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
}
.features h4 {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}
.features div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-right: 20px;
  max-width: 250px;
}
.features div span {
  font-size: 15px;
  color: grey;
}

.userContainer {
  display: flex;
  flex-direction: column;
}
.userContainer h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
}
.urlContainer {
  margin-bottom: 20px;
}
.urlContainer input {
  background-color: #f6f6f6;
  border: 2px solid #eee;
  padding: 10px 20px;
  border-radius: 20px;
  color: #1db954;
  margin-left: 20px;
  cursor: pointer;
}
.urlContainer span {
  font-weight: bold;
}

.icon {
  width: 5vw;
  height: 5vw;
  margin-top: 20px;
}

.bgImage {
  width: 538px;
  height: 565px;
}

.lgFeatures {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
}
.smFeatures {
  display: none;
}

@media (max-width: 992px) {
  .container h1 {
    font-size: 5vw;
  }
  .container h3 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 3vw;
  }
  .main {
    padding: 3rem 20px;
  }
  .lgFeatures {
    display: none;
  }
  .smFeatures {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  .bgImage {
    width: 376px;
    height: 395px;
  }
}

@media (max-width: 768px) {
  .container h1 {
    font-size: 6vw;
  }
  .container h3 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 3vw;
  }
  .main {
    padding: 2rem 20px;
  }
  .smFeatures {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lgFeatures {
    display: none;
  }
  .bgImage {
    display: none;
  }
}

@media (max-width: 576px) {
  .container h1 {
    font-size: 7vw;
  }
  .container h3 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 4vw;
  }
  .main {
    padding: 2rem 20px;
    text-align: center;
  }
  .mainContent {
    align-items: center;
    justify-content: center;
  }
  .userContainer {
    align-items: center;
  }
  .urlContainer input {
    margin-left: 0;
  }
  .contentTexts {
    align-items: center;
    margin-right: 0;
  }
  .smFeatures {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lgFeatures {
    display: none;
  }
  .bgImage {
    display: none;
  }
}
