.container {
  min-height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h1 {
  font-size: 3rem;
}
.container h3 {
  margin-top: 0;
  margin-bottom: 40px;
}

.main {
  max-width: 1400px;
  width: 100%;
  padding: 5rem 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mainContent {
  display: flex;
  flex-direction: row;
}
.contentTexts {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.button {
  background-color: #1db954;
  color: white;
  padding: 15px 20px;
  width: max-content;
  width: -moz-max-content;
  border-radius: 50px;
  font-weight: bold;
}

.privacyText {
  font-size: 13px;
  margin-top: 10px;
}

.features {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
}
.features h4 {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}
.features div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-right: 20px;
  max-width: 250px;
}
.features div span {
  font-size: 15px;
  color: grey;
}
