.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-bottom: 1.5px solid #eee;
}

.navigation {
  width: 1400px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
}

.logo {
  margin-right: 50px;
  width: 160px;
  height: 51px;
  cursor: pointer;
}

.navItem {
  margin-right: 30px;
}

.login {
  margin-left: auto;
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .logo {
    width: 128px;
    height: 41px;
  }
  .navigation {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 112px;
    height: 36px;
  }
}

@media (max-width: 370px) {
  .logo {
    width: 104px;
    height: 33px;
    margin-right: 20px;
  }
  .navItem {
    margin-right: 20px;
  }
}
