.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-bottom: 1.5px solid #eee;
}

.navigation {
  width: 1400px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
}

.logo {
  margin-right: 50px;
  width: 160px;
  height: 51px;
  cursor: pointer;
}

.navItem {
  margin-right: 30px;
}

.login {
  margin-left: auto;
}
